
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  /* background: linear-gradient(to right, #ffaad4 10%, #ec1596 50%, #ffaad4 100%); */
  position: relative;
  z-index: 10;
  /* box-shadow: 0 4px 15px rgba(243, 34, 160, 0.3); */
  /* border-bottom: 2px solid #fff0f5; */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 120px;
  transition: transform 0.4s ease;
}

.logo img:hover {
  transform: rotate(10deg) scale(1.05);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links a,
.nav-links li {
  color: #f322a0;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover,
.nav-links li:hover {
  color: #ffe4f2;
  transform: translateY(-2px);
}

.nav-links a::after,
.nav-links li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background: #f322a0;
  left: 0;
  bottom: -6px;
  border-radius: 5px;
  transition: 0.4s ease;
}

.nav-links a:hover::after,
.nav-links li:hover::after {
  width: 100%;
}

.order-btn {
  background: #f322a0;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.4);
}

.order-btn:hover {
  background: #f322a0;
  color: #fff;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .order-btn {
    padding: 10px 20px;
  }
}
